<section id="grid_cart">

    <div class="container">
      <header>
          <h1>Checkout</h1>
      </header>
    
      <section class="cart">
          <div class="product">
              <img src="src\img\bici1.jpg" alt="">
              <div class="product-details">
                  <h3>Totale Carrello</h3>
                  <p>Prezzo: </p>
                    <a href="/checkout"><button class="checkout-button">Procedi all' ordine</button></a>
                </div>
                  
              </div>
          
         
      
    
    
    
    
          <!-- Aggiungi altri prodotti qui -->
    
          
      </section>
    </div>
    
    </section>

   