<section id="product1" class="section-p1">
  <button (click)="NavigaSingolo()">Inserisci Cliente</button>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pd of clientiservizio.list">
        <td>{{pd.firstName}}</td>
        <td>{{pd.lastName}}</td>
        <td>{{pd.companyName}}$</td>
        <button (click)="viewProductDetails(pd.customerId)">Clicca qui </button>
      </tr>

    </tbody>
  </table>

