<div class="container">
    <h1 class="mt-3">Lista Indirizzi</h1>


    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-primary" [routerLink]="['/admin/address/add']">Aggiungi Nuovo</a>
    </div>

    

    <ng-container *ngIf="addresses$ | async as addresses">


        <table class="table table-border mt-3">


            <thead>
                <tr>
                    <th>Id</th>
                    <th>Indirizzo 1</th>
                    <th>Indirizzo 2</th>
                    <th>Città</th>
                    <th>Stato</th>
                    <th>Provincia</th>
                    <th>Codice Postale</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let address of addresses">
                    <td>{{address.color}}</td>
                    <td>{{address.color}}</td>
                    <td>{{address.color}}</td>
                    <td>{{address.color}}</td>
                    <td>{{address.color}}</td>
                    <td>{{address.color}}</td>
                    <td>{{address.color}}</td>
                    <td>
                        <a class="btn btn-light" [routerLink]="['/admin/address',address.productId]">Modifica</a>
                    </td>
                </tr>
            </tbody>


        </table>
    </ng-container>
   
</div>

    
