<form #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">Nome:</label>
    <input type="text" id="FirstName" name="FirstName" [(ngModel)]="model.FirstName" required>
  </div>
  <div>
    <label for="LastName">Cognome:</label>
    <input type="text" id="LastName" name="LastName" [(ngModel)]="model.LastName" required>
  </div>
  <div>
    <label for="color">Colore:</label>
    <input type="text" id="Namestyle" name="Namestyle" [(ngModel)]="model.Namestyle" required>
  </div>
  <div>
    <label for="CompanyName">CompanyName:</label>
    <input type="number" id="CompanyName" name="CompanyName" [(ngModel)]="model.CompanyName" required>
  </div>
  <div>
    <label for="Phone">Phone:</label>
    <input type="number" id="Phone" name="listPrice" [(ngModel)]="model.Phone" required>
  </div>
  <div>
    <label for="EmailAddress">EmailAddress:</label>
    <input type="text" id="EmailAddress" name="EmailAddress" [(ngModel)]="model.EmailAddress" required>
  </div>
  

  <button type="submit">Invia</button>
</form>
