
<section id="grid_form">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

   
    <div class="mb-3">
      <label for="firstName" class="form-label">Nome</label>
      <input type="text" class="form-control" id="exampleInputEmail1"  id="firstName" name="firstName" [(ngModel)]="newProduct.name" required>
    </div>
    
    <div class="mb-3">
      <label for="ProductNumber" class="form-label">Cognome</label>
      <input type="text" class="form-control" id="ProductNumber" name="ProductNumber" [(ngModel)]="newProduct.productNumber" required>
   </div>
    <div class="mb-3">
      <label for="standardCost" class="form-label">standardCost</label>
      <input type="number" class="form-control" id="standardCost" name="standardCost" [(ngModel)]="newProduct.standardCost" required>
    </div>
    <div class="mb-3">
      <label for="listPrice" class="form-label">Prezzo</label>
      <input type="number" class="form-control" id="email" name="listPrice" [(ngModel)]="newProduct.listPrice" required>
    </div>
    <div class="mb-3">
      <label for="size" class="form-label">Dimensione</label>
      <input type="text" class="form-control" id="size" name="size" [(ngModel)]="newProduct.size" required>
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Peso</label>
      <input type="number" class="form-control" id="weight" name="weight" [(ngModel)]="newProduct.weight" required>      
    </div>

    <button class="btn btn-success" type="submit">Conferma Richiesta</button>
  </form>
</section>

